numpy
pillow #For image importing
matplotlib 

torch
torchvision
torchaudio

#For yolo
ultralytics
opencv-python
#Need to download yolo11x-seg.pt file from
#https://docs.ultralytics.com/tasks/segment/#models

#YAML
pyyaml

#To create virtual environment called venv
# python3 -m venv venv

#Install of pip requirements
# pip install -r requirements.txt

#Activate venv #On Windows use `venv\Scripts\activate`
# source venv/bin/activate